*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41?utm_source=tldrnewsletter */
html {
    max-width: 70ch;
    
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;

    --primary-color: #F3D503;
    --primary-color-hover: #e0c91af4;
    --app-background: #e0c91af4;

    background-color: var(--app-background);
}

h1,h2,h3,h4,h5,h6 {
margin: 3em 0 1em;
}

p,ul,ol {
margin-bottom: 2em;
color: #1d1d1d;
font-family: sans-serif;
}
/*  */

body {
    height: 100vh;
    padding: 3em 1em;
}